.header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  color: #1B1B1E;
}

.title {
  margin-right: auto;
  font-weight: 700;
  cursor: pointer;
  color: #1B1B1E;
  text-decoration: none;
}

.cart:hover {
    cursor: pointer;
}